mixin product(price, description, button, productId, imageSrc)
    form.product.border
        .product__image
            a(href="#")
                img(src=imageSrc)
        .product__info
            span.product__price=price
            a.product__description(href="#")=description
        .product__size
            if button
                each element,index in button
                    +button(element.mode, element.description, '', productId, productId + "-" + index)
        .product__button
            +button('link', 'Agregar al carrito', '#')

mixin category(title, description, imageSrc, button)
    .category.border
        .category__image
            img(src=imageSrc)
        .category__content
            .category__description
                p.category__supertitle=title
                p.category__title=description
            .category__button.category__button--image-left
                +button('link', button.text, button.link)
