mixin button(mode, description, href, id, name)
    .button
        if mode === 'radio'
            input.button__input(type="radio" id=name name=id)
            label.button__label(for=name)=description
            
        if mode === 'link'
            a.button__link(href=href)=description
            
        if mode === 'hollow'
            a.button__link--hollow(href=href)=description

        if mode === 'select'
            select.button__select
                if block
                    block
